# Day 2 â€“ Core Python (Intermediate Logic & Data Handling)
**Topics Covered:** Loops, comprehension, file handling, error handling, and pattern logic.

## 1. List and Comprehension Practice

**1. Generate a list of squares for numbers 1 to 20 using list comprehension.**

In [5]:
l = [x**2 for x in range(1,21)]
l

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

**2. From a given list of integers, create two lists: one with even numbers and one with odd numbers using comprehension.**

In [6]:
even = [x for x in l if x % 2 == 0]
even

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [9]:
odd = [x for x in l if x % 2 != 0]
odd

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

**3. Flatten a 2D list into a 1D list using comprehension.**

In [20]:
arr = [[1, 2], [3, 4], [5, 6]]
flattened = [x for sublist in arr for x in sublist]
flattened

[1, 2, 3, 4, 5, 6]

## 2. String and Pattern Problems

**4. Count words, digits, and special characters in a given string.**

In [27]:
str = "I am Abiral Timalsina. #abiral17@Nepal"
words = 0
digits = 0 
sc = 0
for char in str:
    if char.isalpha():
        words += 1
    elif char.isdigit():
        digits += 1
    else:
        sc += 1
print(words, digits , sc)

29 2 7

**5. Given a sentence, print all words that start with a vowel.**

In [38]:
sen = "I am Abiral Timalsina."
words = sen.split()
words_starting_with_vowel = [x for x in words if x[0] in "AEIOUaeiou"]

In [39]:
for word in words_starting_with_vowel:
    print(word)

I
am
Abiral

**6. Create the following number pattern using loops:**  
1  
12  
123  
1234  
12345

In [47]:
for i in range(1,6):
    for j in range(i):
        print(j+1, end ="")
    print()

1
12
123
1234
12345

**7. Print a pyramid pattern of stars (*) of height n.**

In [48]:
n = int(input("Enter the height of pyramid: "))

Enter the height of pyramid:  5

In [63]:
for i in range(1,n+1):
    print(" "*(n-i), "*"*(i*2-1))

     *
    ***
   *****
  *******
 *********

## 3. Dictionary & Set Practice

**8. Given a list of names, count how many times each name appears (use a dictionary).**

In [2]:
names = ["abiral", "hari", "ram", "abiral", "abiral", "hari", "Sita", "Shyam"]
count_name = {}
for name in names:
    count_name[name] = count_name.get(name, 0)+1

print(count_name)

{'abiral': 3, 'hari': 2, 'ram': 1, 'Sita': 1, 'Shyam': 1}

**9. Write a program to find common elements between two lists using sets.**

In [3]:
list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]
common = set(list1).intersection(set(list2))
common

{3, 4, 5}

**10. Create a dictionary that maps each character in a string to its index positions.**

In [29]:
str = "Programming"
ind = {}
for i, char in enumerate(str):
    ind.setdefault(char, []).append(i)
ind

{'P': [0],
 'r': [1, 4],
 'o': [2],
 'g': [3, 10],
 'a': [5],
 'm': [6, 7],
 'i': [8],
 'n': [9]}

## 4. Functions & Lambda

**11. Write a lambda function to:**
* Find the square of a number
* Check if a number is even
* Sort a list of tuples based on the second element

In [31]:
square = lambda x:x**2
square(4)

16

In [ ]:
check_even = lambda x:x%2==0
check_even(6)

True

In [36]:
list_of_tuples = [(1, 3), (2, 1), (4, 2), (5, 0)]
sorted_by_second = sorted(list_of_tuples, key=lambda t: t[1])

sorted_by_second

[(5, 0), (2, 1), (4, 2), (1, 3)]

**12. Create a function that takes a list of integers and returns the second largest number**

In [42]:
def second_largest(my_list):
    s = sorted(my_list, reverse=True)
    return s[1]

my_list = [1,56,17,3,4,5,14]
second_largest(my_list)

17

## 5. File Handling

**13. Write a Python program to:**
* Create a text file
* Write 5 lines of text into it
* Read and print all lines
* Count how many words the file contains

In [48]:
with open("hello.txt") as f:
    text = f.read()
    print(text)

Hello I am abiral
timalsina is my surname
lala
k cha bro
thik xa ni

In [55]:
words = text.split()
len(words)

15

**14. Write a program to count line numbers and print lines that contain a specific word.**

In [57]:
count = 0
with open("hello.txt") as f:
    for line in f:
        count += 1
count

5

In [59]:
specific_word = "abiral"
with open("hello.txt") as f:
    for line in f:
        if specific_word in line:
            print(line)

Hello I am abiral

## 6. Error Handling

**15. Write a program that takes two numbers from the user and divides them Handle ZeroDivisionError and ValueError gracefully.**

In [66]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

try:
    division = num1/num2
    print(division)
except ZeroDivisionError:
    print("You cannot divide by 0")
except ValueError:
    print("Enter proper integer value for division")

You cannot divide by 0