# Day 1 â€“ Python Fundamentals
**Topics Covered:** Variables, Data Types, Conditionals, Loops, Lists, Tuples, Dictionaries, Functions

## 1. Variables & Data Types

 **1. Create variables of different data types (int, float, string, bool, list, tuple, dict). Print their types.**

In [1]:
num = 12
deci = 10.5
str = "Python"
condition = True
lst = [1,2,3]
tup = (1,2,3)
dic = {"name":"Abiral", "age":22}

In [2]:
type(num)

int

In [3]:
type(deci)

float

In [4]:
type(str)

str

In [5]:
type(condition)

bool

In [6]:
type(lst)

list

In [7]:
type(tup)

tuple

In [8]:
type(dic)

dict

**2. Swap two numbers without using a third variable.**

In [9]:
a = 5
b = 10

In [10]:
a = a + b
b = a - b
a = a - b

In [11]:
print(a)
print(b)

10
5

## 2. Strings

**3. Take a user input string and print:**
* Its reverse
* Number of vowels and consonants
* Whether it's palindrome or not

In [12]:
str = "abiral"

In [13]:
reversed_string = str[::-1]
reversed_string

'lariba'

In [14]:
vowels = "aeiouAEIOU"
vcount = 0
count= 0 
for char in str:
    if char in vowels:
        vcount+=1
    else:
        count+=1

In [15]:
print(f"The number of vowels is {vcount} and consonants is {count}")

The number of vowels is 3 and consonants is 3

In [16]:
if (str == reversed_string): # Try the word 'madam' to get output as palindrome
    print("Palindrome")
else:
    print("Not Palindrome")

Not Palindrome

**4. Count the frequency of each character in a string (use a dictionary).**

In [17]:
freq_str = "Programming"
freq= {}
for char in freq_str:
    freq[char]=freq.get(char,0)+1 #get method gives the value associated to it or gives a default value that we set

In [18]:
freq

{'P': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

## 3. Lists

**5. Given a list of numbers, find:**
* Maximum and minimum element (without using built-in max() and min())
* Sum and average
* Even and odd numbers in separate lists

In [19]:
lst = [12,3,54,64,12,55]

In [20]:
max_item = lst[0]
min_item = lst[0]
for item in lst:
    if item > max_item:
        max_item = item
    if item < min_item:
        min_item = item
print(f"The maximum in the list is {max_item} and minimum is {min_item}")

The maximum in the list is 64 and minimum is 3

In [21]:
sum = 0
for item in lst:
    sum += item
avg = sum/len(lst)
print(f"Sum: {sum} and average: {avg}")

Sum: 200 and average: 33.333333333333336

In [22]:
even = [x for x in lst if x % 2 == 0]
odd = [x for x  in lst if x % 2 != 0]

In [23]:
even

[12, 54, 64, 12]

In [24]:
odd

[3, 55]

**6. Remove duplicates from a list without using set().**

In [25]:
unique_lst = []
for item in lst:
    if item not in unique_lst:
        unique_lst.append(item)

In [26]:
unique_lst # There should not be two 12s

[12, 3, 54, 64, 55]

**7. Sort a list manually using any algorithm (e.g., bubble sort).**

In [27]:
n = len(lst)

In [28]:
for i in range(n):
    for j in range(n-1):
        if lst[j]>lst[j+1]:
            lst[j], lst[j+1] = lst[j+1], lst[j]
print(lst)

[3, 12, 12, 54, 55, 64]

## 4. Tuples and Dictionaries

**8. Convert a list of tuples into a dictionary.**   
       Example: [('a', 1), ('b', 2)] â†’ {'a': 1, 'b': 2}

In [29]:
tup = [('a',1),('b',2)]

In [30]:
dic = dict(tup)

In [31]:
dic

{'a': 1, 'b': 2}

**9. Merge two dictionaries and handle overlapping keys by summing their values.**

In [32]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

In [33]:
from collections import Counter

In [34]:
merged_dict = Counter(dict1) + Counter(dict2)
dict(merged_dict)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

**10. Given a dictionary of student names and marks, find the student(s) with the highest score.**

In [35]:
student_marks = {
    "Abiral": 97,
    "Ram": 92,
    "Sita": 85,
    "Hari": 97,
    "Karan": 78
}

In [37]:
highest = max(student_marks.values())

In [43]:
for key, value in student_marks.items():
    if value == highest:
        print(key)

Abiral
Hari

## 5. Conditionals and Loops

**11. Write a program to check if a number is prime.**

In [88]:
num = 17
flag = 0

In [90]:
for n in range(2,num//2):
    if num == (0 or 1):
        print(f"{num} is not prime.")
    else:
        if(num % n ==0):
            flag = 1
            break
if(flag == 1):
    print(f"{num} is not prime.")
else:
    print(f"{num} is prime.")

17 is prime.

**12. Generate a Fibonacci sequence up to n terms.**

In [128]:
a = 0
b = 1
n = int(input("Enter the number of terms: ")) 
if(n == 1):
    print(a)
elif(n >= 2):
    print(a)
    print(b)
    for i in range(2, n):
        c = a + b
        a = b
        b = c
        print(c)

Enter the number of terms:  5

0
1
1
2
3

## 6. Functions

**13. Write a function to calculate factorial (both iterative and recursive methods).**

In [135]:
## iterative
def factorial(n):
    fact = 1

    for i in range(1, n+1):
        fact *= i
    print(fact)

factorial(5)

120

In [147]:
def facto(n): 
    if n == 1 or n == 0:
        return 1
    else:
        return n * facto(n-1)

In [148]:
facto(5)

120

**14. Write a function that takes a list of numbers and returns a new list with only unique elements.**

In [150]:
def unique(lis):
    return list(set(lis))

l = [1,1,1,2,2,2,3,4,4,4]
unique(l)

[1, 2, 3, 4]

**15. Create a function that takes a string and returns the number of uppercase and lowercase letters.**

In [154]:
def counter(str):
    upcount = 0
    lcount = 0 
    for char in str:
        if char.isupper():
            upcount += 1
        else:
            lcount += 1
    return upcount, lcount

In [156]:
upper, lower = counter("AbiraL") ## Just giving the example of unpacking haha

In [157]:
upper

2

In [158]:
lower

4

## Challange of the Day

**16. Write a program that reads a sentence and outputs the most frequent word.**

In [182]:
sen = input("Enter a Sentence: ")
words = sen.split()
words_count = {}
for word in words:
    words_count[word] = words_count.get(word , 0) + 1
most_frequent_word = max(words_count, key = words_count.get)
frequency = words_count[most_frequent_word]
print(f"The most frequent word is '{most_frequent_word}' and it appears {frequency} times.")

Enter a Sentence:  abiral timalsina abiral timalsina is a man

The most frequent word is 'abiral' and it appears 2 times.

**17. Build a simple calculator function that supports +, -, \*, /, and handles invalid input gracefully.**

In [183]:
def calculator(a, b, operator):
    try:
        if operator == '+':
            return a + b
        elif operator == '-':
            return a - b
        elif operator == '*':
            return a * b
        elif operator == '/':
            if b == 0:
                return "Error: Division by zero!"
            return a / b
        else:
            return "Error: Invalid operator! Use +, -, *, or /."
    except Exception as e:
        return f"Error: {e}"

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
op = input("Enter an operator (+, -, *, /): ")

result = calculator(num1, num2, op)
print("Result:", result)

Enter first number:  5
Enter second number:  10
Enter an operator (+, -, *, /):  *

Result: 50.0